<?xml version="1.0" encoding="utf-8"?>
<!--  Copy Right 2015 OWDARO  http://www.owdaro.com  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <sectionGroup name="nwebsec">
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.1.1.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
      <section name="sessionSecurity" type="NWebsec.SessionSecurity.Configuration.SessionSecurityConfigurationSection, NWebsec.SessionSecurity, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" allowDefinition="MachineToApplication" />
    </sectionGroup>
  </configSections>

  <nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <redirectValidation enabled="true" />
      <setNoCacheHttpHeaders enabled="false" />
      <x-Robots-Tag enabled="false" noIndex="false" noFollow="false" noArchive="false" noOdp="false" noSnippet="false" noImageIndex="false" noTranslate="false" />
      <securityHttpHeaders>
        <x-Frame-Options policy="SameOrigin" />
        <strict-Transport-Security max-age="365" />
        <x-Content-Type-Options enabled="true" />
        <x-Download-Options enabled="false" />
        <x-XSS-Protection policy="FilterEnabled" blockMode="true" />
        <content-Security-Policy enabled="false">
          <default-src self="true" />
          <script-src self="true">
            <add source="owdaro.com" />
            <add source="owdaro.com" />
          </script-src>
          <style-src unsafeInline="false" self="true" />
          <img-src self="true">
            <add source="owdaro.com" />
          </img-src>
          <object-src none="true" />
          <media-src none="true" />
          <frame-src none="true" />
          <font-src none="true" />
          <connect-src none="true" />
          <report-uri enableBuiltinHandler="true" />
        </content-Security-Policy>
        <!-- This section works exactly like "x-Content-Security-Policy", but will output report-only headers instead. -->
        <content-Security-Policy-Report-Only enabled="false">
          <default-src self="true" />
          <script-src unsafeEval="true" unsafeInline="true" />
          <report-uri>
            <add report-uri="/cspreporthandler" />
          </report-uri>
        </content-Security-Policy-Report-Only>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
    <sessionSecurity xmlns="http://nwebsec.com/SessionSecurityConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/SessionSecurityConfig.xsd">
      <!--<sessionIDAuthentication enabled="true"
                               useMachineKey="false"
                               authenticationKey="" />-->
    </sessionSecurity>
  </nwebsec>
  <resizer>
    <clientcache minutes="10080" />
    <sizelimits imageWidth="0" imageHeight="0" totalWidth="5000" totalHeight="5000" totalBehavior="throwexception" />
    <image404 default="~/Themes/Default/Graphics/nullImage.png" />
    <!--totalBehavior="ignorelimits"-->
    <plugins>
      <add name="SpeedOrQuality" />
      <add name="FolderResizeSyntax" />
      <add name="Image404" />
    </plugins>
  </resizer>
  <system.web>
    <roleManager enabled="true" cookieSlidingExpiration="true" cacheRolesInCookie="true" cookieRequireSSL="false" cookieTimeout="1000" createPersistentCookie="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="AuthenticationConnectionString" applicationName="ProjectJKL" />
      </providers>
    </roleManager>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="AuthenticationConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="ProjectJKL" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="AuthenticationConnectionString" applicationName="ProjectJKL" />
      </providers>
    </profile>
    <anonymousIdentification enabled="true" cookieProtection="Encryption" cookieless="UseCookies" cookieTimeout="1000" cookieSlidingExpiration="true" />
    <httpRuntime targetFramework="4.5.1" executionTimeout="3600" maxRequestLength="1024000" requestValidationMode="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enableVersionHeader="false" />
    <customErrors mode="Off" defaultRedirect="~/UI/Pages/Error/Generic.aspx">
      <error statusCode="400" redirect="~/UI/Pages/Error/400.aspx" />
      <error statusCode="401" redirect="~/UI/Pages/Error/401.aspx" />
      <error statusCode="403" redirect="~/UI/Pages/Error/403.aspx" />
      <error statusCode="404" redirect="~/UI/Pages/Error/404.aspx" />
      <error statusCode="405" redirect="~/UI/Pages/Error/405.aspx" />
      <error statusCode="408" redirect="~/UI/Pages/Error/408.aspx" />
      <error statusCode="410" redirect="~/UI/Pages/Error/410.aspx" />
      <error statusCode="415" redirect="~/UI/Pages/Error/415.aspx" />
      <error statusCode="500" redirect="~/UI/Pages/Error/500.aspx" />
      <error statusCode="503" redirect="~/UI/Pages/Error/503.aspx" />
    </customErrors>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Minutes5" duration="300" location="Client" varyByParam="none" />
          <add name="Minutes15" duration="900" location="Client" varyByParam="none" />
          <add name="Minutes30" duration="1800" location="Client" varyByParam="none" />
          <add name="Hour1" duration="3600" location="Client" varyByParam="none" />
          <add name="Hour6" duration="21600" location="Client" varyByParam="none" />
          <add name="Hour12" duration="43200" location="Client" varyByParam="none" />
          <add name="Hour24" duration="86400" location="Client" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <trust level="Full" />
    <authentication mode="Forms">
      <forms loginUrl="/UI/Pages/LogOn/Default.aspx" timeout="525949" enableCrossAppRedirects="true" name="ProjectJKL" slidingExpiration="true" cookieless="UseCookies" protection="Encryption" requireSSL="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.1" enablePrefetchOptimization="true" profileGuidedOptimizations="All">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <globalization fileEncoding="utf-8" />
    <pages validateRequest="true" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.5" enableViewStateMac="true" viewStateEncryptionMode="Always" buffer="true">
      <controls>
        <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="OWD" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        <!--CONTROLS STARTS HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/LabelAdv.ascx" tagName="LabelAdv" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/Slider.ascx" tagName="Slider" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/StatusMessageJQuery.ascx" tagName="StatusMessageJQuery" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/TextBoxAdv.ascx" tagName="TextBoxAdv" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/CKEditor.ascx" tagName="CKEditor" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/DropDownListAdv.ascx" tagName="DropDownListAdv" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/CheckBoxAdv.ascx" tagName="CheckBoxAdv" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/RadioButtonAdv.ascx" tagName="RadioButtonAdv" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/FileUploadAdv.ascx" tagName="FileUploadAdv" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/FormToolbar.ascx" tagName="FormToolbar" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/UnsafeTextBox.ascx" tagName="UnsafeTextBox" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/Nested/CountryDropDown.ascx" tagName="Countries" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Controls/Nested/LocalizationDropDownList.ascx" tagName="Locales" />
        <!--SHOPPING CART COMPONENTS STARTS HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductsCartPopUpComponent.ascx" tagName="ProductsCartPopUpComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductSubCategoriesComponent.ascx" tagName="ProductSubCategoriesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductImagesComponent.ascx" tagName="ProductImagesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductIconsComponent.ascx" tagName="ProductIconsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductReviewsComponent.ascx" tagName="ProductReviewsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductHighlightsComponent.ascx" tagName="ProductHighlightsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductColorsComponent.ascx" tagName="ProductColorsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/ProductSizesComponent.ascx" tagName="ProductSizesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/CheckOutStep1Component.ascx" tagName="CheckOutStep1Component" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/CheckOutStep2Component.ascx" tagName="CheckOutStep2Component" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/ProductCartGridComponent.ascx" tagName="ProductCartGridComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/ProductsComponent.ascx" tagName="ProductsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/ProductCategoriesComponent.ascx" tagName="ProductCategoriesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/Nested/ProductDetailsComponent.ascx" tagName="ProductDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/ShoppingCart/Nested/Nested/ProductSectionsComponent.ascx" tagName="ProductSectionsComponent" />
        <!--SHOPPING CART COMPONENTS ENDS HERE-->
        <!--GALLERY COMPONENTS STARTS HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AlbumsComponent.ascx" tagName="AlbumsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AudioCategoriesSelectComponent.ascx" tagName="AudioCategoriesSelectComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/VideoCategoriesSelectComponent.ascx" tagName="VideoCategoriesSelectComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/RecentVideosComponent.ascx" tagName="RecentVideosComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/PhotosComponent.ascx" tagName="PhotosComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/EventsComponent.ascx" tagName="EventsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/RevolutionBanner.ascx" tagName="RevolutionBanner" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/EventDetailsComponent.ascx" tagName="EventDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/VideoCategoriesComponent.ascx" tagName="VideoCategoriesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/VideoCategoryComponent.ascx" tagName="VideoCategoryComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/VideoSetComponent.ascx" tagName="VideoSetComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/VideoComponent.ascx" tagName="VideoComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AudioCategoriesComponent.ascx" tagName="AudioCategoriesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AudioCategoryComponent.ascx" tagName="AudioCategoryComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AudioSetComponent.ascx" tagName="AudioSetComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AudioComponent.ascx" tagName="AudioComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/FoldersSelectComponent.ascx" tagName="FoldersSelectComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/DownloadsComponent.ascx" tagName="DownloadsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/DrivesComponent.ascx" tagName="DrivesComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/DrivesAndFoldersListComponent.ascx" tagName="DrivesAndFoldersListComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/AudioCategoriesListComponent.ascx" tagName="AudioCategoriesListComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/Nested/RelatedVideosComponent.ascx" tagName="RelatedVideosComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/Nested/RelatedAudiosComponent.ascx" tagName="RelatedAudiosComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/VideoCategoriesListComponent.ascx" tagName="VideoCategoriesListComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Gallery/Nested/FilesSelectComponent.ascx" tagName="FilesSelectComponent" />
        <!--GALLERY COMPONENTS ENDS HERE-->
        <!--MEMBERSHIP COMPONENTS STARTS HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/OAuthComponent.ascx" tagName="OAuthComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/LoginStatus.ascx" tagName="LoginStatus" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/CategorySettingsComponent.ascx" tagName="CategorySettingsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/RoleSettingsComponent.ascx" tagName="RoleSettingsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/LoginComponent.ascx" tagName="LoginComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/UserDataComponent.ascx" tagName="UserDataComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/UserAddressComponent.ascx" tagName="UserAddressComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/UserWorkComponent.ascx" tagName="UserWorkComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/UserEducationComponent.ascx" tagName="UserEducationComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/PasswordConfirmationComponent.ascx" tagName="PasswordConfirmationComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/SecurityQAComponent.ascx" tagName="SecurityQAComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/RetrieveUsernameComponent.ascx" tagName="RetrieveUsernameComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/RetrievePasswordComponent.ascx" tagName="RetrievePasswordComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/UserProfileComponent.ascx" tagName="UserProfileComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/UserAddComponent.ascx" tagName="UserAddComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/UserDataDetailsComponent.ascx" tagName="UserDataDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/UserAddressDetailsComponent.ascx" tagName="UserAddressDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/UserWorkDetailsComponent.ascx" tagName="UserWorkDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/UserEducationDetailsComponent.ascx" tagName="UserEducationDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/Nested/UserAddressSelectionComponent.ascx" tagName="UserAddressSelectionComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/Nested/LoginPopUpComponent.ascx" tagName="LoginPopUpComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/OFrameMembership/Nested/Nested/UserAddPopUpComponent.ascx" tagName="UserAddPopUpComponent" />
        <!--MEMBERSHIP COMPONENTS ENDS HERE-->
        <!--UTILITY COMPONENTS STARTS HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Utility/WebCamComponent.ascx" tagName="WebCamComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Utility/ImageUploaderComponent.ascx" tagName="ImageUploaderComponent" />
        <!--UTILITY COMPONENTS ENDS HERE-->
        <!--OTHER COMPONENTS START HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/SearchComponent.ascx" tagName="SearchComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/ContactUsDetailsComponent.ascx" tagName="ContactUsDetailsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/ContactUsQueryFormComponent.ascx" tagName="ContactUsQueryFormComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/WebmasterComponent.ascx" tagName="WebmasterComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/TagCloudComponent.ascx" tagName="TagCloudComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/Nested/LocalizationSwitchComponent.ascx" tagName="LocalizationSwitchComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/PageShareComponent.ascx" tagName="PageShareComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/DashBoardTopLinksComponent.ascx" tagName="DashBoardTopLinksComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/DashBoardSideBarLinksComponent.ascx" tagName="DashBoardSideBarLinksComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/MenuComponent.ascx" tagName="MenuComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/ResponsiveMenuComponent.ascx" tagName="ResponsiveMenuComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/ListPopUpComponent.ascx" tagName="ListPopUpComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/ImageSelectorComponent.ascx" tagName="ImageSelectorComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/FileSelectorComponent.ascx" tagName="FileSelectorComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Others/Nested/ModulesMenuSelectionComponent.ascx" tagName="ModulesMenuSelectionComponent" />
        <!--OTHER COMPONENTS END HERE-->
        <!--MEDIA COMPONENTS START HERE-->
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/TestimonialsComponent.ascx" tagName="TestimonialsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/RelatedPostsComponent.ascx" tagName="RelatedPostsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/PortfolioComponent.ascx" tagName="PortfolioComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/PostsComponent.ascx" tagName="PostsComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/ChildPostsListComponent.ascx" tagName="ChildPostsListComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/PostComponent.ascx" tagName="PostComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/SubscribeComponent.ascx" tagName="SubscribeComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/PostCategoriesSelectComponent.ascx" tagName="PostCategoriesSelectComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/PostCategoriesListComponent.ascx" tagName="PostCategoriesListComponent" />
        <add tagPrefix="OWD" src="~/UI/UserControls/Components/Media/Nested/PostEmbedComponent.ascx" tagName="PostEmbedComponent" />
        <!--MEDIA COMPONENTS END HERE-->
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="AnonymousIdentification" />
      <!-- this is for Classic mode and Cassini -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.ApplicationInsightsHttpModule, Microsoft.ApplicationInsights.Extensibility.Web" />

    </httpModules>
    <httpHandlers>

    </httpHandlers>
    <trace enabled="false" />
    <httpCookies httpOnlyCookies="true" />
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState cookieless="UseCookies" timeout="600" mode="InProc" customProvider="DefaultSessionProvider" sessionIDManagerType="NWebsec.SessionSecurity.SessionState.AuthenticatedSessionIDManager, NWebsec.SessionSecurity, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=loopback:42424" />-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source=.\SQLEpress;User ID=ASPState;Password=XXXXXX" cookieless="false" timeout="20" />-->
    <!--<sessionState mode="Custom" customProvider="MySessionStateStore">
      <providers>
        -->
    <!-- Either use 'connectionString' and provide all parameters as string OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->

    <!-- 'throwOnError','retryTimeoutInMilliseconds','databaseId' and 'applicationName' can be used with both options. -->

    <!--
          <add name="MySessionStateStore"
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            throwOnError = "true" [true|false]
            retryTimeoutInMilliseconds = "5000" [number]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<Valid StackExchange.Redis connection string>" [String]
            loggingClassName = "<Assembly qualified class name that contains logging method specified below>" [String]
            loggingMethodName = "<Logging method should be defined in loggingClass. It should be public, static, does not take any parameters and should have a return type of System.IO.TextWriter.>" [String] />
        -->
    <!--
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="" accessKey="" ssl="true" />
      </providers>
    </sessionState>-->
  </system.web>
  <connectionStrings>
    <add name="AuthenticationConnectionString" connectionString="Initial Catalog=XXXXXX;Data Source=XXXXXX;User ID=XXXXXX; Password=XXXXXX; Connection Timeout=60; Application Name=ProjectJKL;" providerName="System.Data.SqlClient" />
    <add name="FullAccessConnectionString" connectionString="Initial Catalog=XXXXXX;Data Source=XXXXXX;User ID=XXXXXX; Password=XXXXXX; Connection Timeout=60; Application Name=ProjectJKL;" providerName="System.Data.SqlClient" />
    <add name="MembershipEntities" connectionString="metadata=res://ProjectJKL/AppCode.DAL.MembershipModel.MembershipModel.csdl|res://ProjectJKL/AppCode.DAL.MembershipModel.MembershipModel.ssdl|res://ProjectJKL/AppCode.DAL.MembershipModel.MembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;multipleactiveresultsets=True;connect timeout=60;application name=ProjectJKL&quot;" providerName="System.Data.EntityClient" />
    <add name="ShoppingCartEntities" connectionString="metadata=res://ProjectJKL/AppCode.DAL.ShoppingCartModel.ShoppingCartModel.csdl|res://ProjectJKL/AppCode.DAL.ShoppingCartModel.ShoppingCartModel.ssdl|res://ProjectJKL/AppCode.DAL.ShoppingCartModel.ShoppingCartModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;multipleactiveresultsets=True;connect timeout=60;application name=ProjectJKL&quot;" providerName="System.Data.EntityClient" />
    <add name="GalleryEntities" connectionString="metadata=res://ProjectJKL/AppCode.DAL.GalleryModel.GalleryModel.csdl|res://ProjectJKL/AppCode.DAL.GalleryModel.GalleryModel.ssdl|res://ProjectJKL/AppCode.DAL.GalleryModel.GalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;multipleactiveresultsets=True;connect timeout=60;application name=ProjectJKL&quot;" providerName="System.Data.EntityClient" />
    <add name="MediaEntities" connectionString="metadata=res://ProjectJKL/AppCode.DAL.MediaModel.MediaModel.csdl|res://ProjectJKL/AppCode.DAL.MediaModel.MediaModel.ssdl|res://ProjectJKL/AppCode.DAL.MediaModel.MediaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;multipleactiveresultsets=True;connect timeout=60;application name=ProjectJKL&quot;" providerName="System.Data.EntityClient" />
    <add name="OWDAROEntities" connectionString="metadata=res://ProjectJKL/AppCode.DAL.OWDAROModel.OWDAROModel.csdl|res://ProjectJKL/AppCode.DAL.OWDAROModel.OWDAROModel.ssdl|res://ProjectJKL/AppCode.DAL.OWDAROModel.OWDAROModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;multipleactiveresultsets=True;connect timeout=60;application name=ProjectJKL&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="KeywordsFile" value="App_Data/Settings/KeyWords.xml" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" port="25" defaultCredentials="true" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.1.1.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.ApplicationInsightsHttpModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>

    </handlers>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <location path="UI/Pages/Admin">
    <system.web>
      <authorization>
        <allow roles="master" />
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/LogOn/Register.aspx">
    <system.web>
      <authorization>
        <deny roles="master" />
        <deny roles="admin" />
        <deny roles="user" />
        <deny roles="inactivated" />
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/UserAdd.aspx">
    <system.web>
      <authorization>
        <allow roles="master" />
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/ChangeContact.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/ChangeProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/ChangeSecQA.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/SuperAdmin">
    <system.web>
      <authorization>
        <allow roles="master" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/User">
    <system.web>
      <authorization>
        <allow roles="master" />
        <allow roles="admin" />
        <allow roles="user" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Inactivated">
    <system.web>
      <authorization>
        <allow roles="master" />
        <allow roles="admin" />
        <allow roles="inactivated" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/UserList.aspx">
    <system.web>
      <authorization>
        <allow roles="master" />
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Pages/Common/UserManage.aspx">
    <system.web>
      <authorization>
        <allow roles="master" />
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <gcServer enabled="true" />
    <performanceScenario value="HighDensityWebHosting" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.123" newVersion="4.1.7.123" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.1.30610.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
