<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;
    }

    a {
        text-decoration: none;
    }
</style>
<div style="border: 5px solid #008bc9; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; font-family: Verdana; font-size: 13px;
    color: #222; line-height: 20px; word-spacing: 7px; text-align: justify; padding: 0px; margin: 10px;">
    <p style="text-align: center; padding: 0px 0px 0px 0px;">
        <img src="http://www.owdaro.com/logo.png" alt="OWDARO" width="151px" height="102px" />
    </p>
    <p style="text-align: center; border-bottom: 2px dashed #008bc9; padding: 0px 0px 10px 0px;">
        <a href="http://owdaro.com" style="color: #333; font-size: 13px; font-weight: bold;">OWDARO</a>
    </p>
    <span style="padding: 10px; display: block;">
        [PLACEHOLDER2] [PLACEHOLDER3] [PLACEHOLDER4] [PLACEHOLDER5] [PLACEHOLDER6] [PLACEHOLDER7]
        [PLACEHOLDER8] [PLACEHOLDER9] [PLACEHOLDER10] [PLACEHOLDER11] [PLACEHOLDER12] [PLACEHOLDER13]
        [PLACEHOLDER14] [PLACEHOLDER15] [PLACEHOLDER16] [PLACEHOLDER17] [PLACEHOLDER18]
        [PLACEHOLDER19] [PLACEHOLDER20] [PLACEHOLDER21] [PLACEHOLDER22] [PLACEHOLDER23]
        [PLACEHOLDER24] [PLACEHOLDER25] [PLACEHOLDER26] [PLACEHOLDER27] [PLACEHOLDER28]
        [PLACEHOLDER29] [PLACEHOLDER30] [PLACEHOLDER31] [PLACEHOLDER32] [PLACEHOLDER33]
        [PLACEHOLDER34] [PLACEHOLDER35] [PLACEHOLDER36] [PLACEHOLDER37] [PLACEHOLDER38]
        [PLACEHOLDER39] [PLACEHOLDER40] [PLACEHOLDER41] [PLACEHOLDER42] [PLACEHOLDER43]
        [PLACEHOLDER44] [PLACEHOLDER45] [PLACEHOLDER46] [PLACEHOLDER47] [PLACEHOLDER48]
        [PLACEHOLDER49] [PLACEHOLDER50] [PLACEHOLDER51] [PLACEHOLDER52] [PLACEHOLDER53]
        [PLACEHOLDER54] [PLACEHOLDER55] [PLACEHOLDER56] [PLACEHOLDER57] [PLACEHOLDER58]
        [PLACEHOLDER59] [PLACEHOLDER60] [PLACEHOLDER61] [PLACEHOLDER62] [PLACEHOLDER63]
        [PLACEHOLDER64] [PLACEHOLDER65] [PLACEHOLDER66] [PLACEHOLDER67] [PLACEHOLDER68]
        [PLACEHOLDER69] [PLACEHOLDER70] [PLACEHOLDER71] [PLACEHOLDER72] [PLACEHOLDER73]
        [PLACEHOLDER74] [PLACEHOLDER75] [PLACEHOLDER76] [PLACEHOLDER77] [PLACEHOLDER78]
        [PLACEHOLDER79] [PLACEHOLDER80] [PLACEHOLDER81] [PLACEHOLDER82] [PLACEHOLDER83]
        [PLACEHOLDER84] [PLACEHOLDER85] [PLACEHOLDER86] [PLACEHOLDER87] [PLACEHOLDER88]
        [PLACEHOLDER89] [PLACEHOLDER90] [PLACEHOLDER91] [PLACEHOLDER92] [PLACEHOLDER93]
        [PLACEHOLDER94] [PLACEHOLDER95] [PLACEHOLDER96] [PLACEHOLDER97] [PLACEHOLDER98]
        [PLACEHOLDER99] [PLACEHOLDER100]
    </span>

    <p style="text-align: center; border-top: 2px dashed #008bc9; padding: 10px 0px 10px 0px;">
        <span style="float: left; margin-left: 20px;">Date & Time: [PLACEHOLDER1]</span>
        <span style="float: right; margin-right: 20px;">
            <a href="http://owdaro.com" style="padding-bottom: 3px; border-bottom: 2px dotted #000000; color: #008bc9;">
                www.owdaro.com
            </a> | <a href="mailto:owdaro@owdaro.com"
                      style="padding-bottom: 3px; border-bottom: 2px dotted #000000; color: #008bc9;">owdaro@owdaro.com</a>
        </span>
        <br style="clear: both;" />
    </p>
</div>