html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    color: #363636;
    background-repeat: repeat-x;
    background-image: url(/Themes/Zice/Graphics/bg/pick_bg.jpg);
}

    body.dashborad {
        background-image: url(/Themes/Zice/Graphics/menu_bg.jpg);
        background-repeat: repeat-y;
    }

    body.nobg {
        background-image: none;
        background-repeat: repeat-y;
    }

:focus {
    outline: 0px;
}

ul {
    padding: 0;
    margin: 0px;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-bottom: 1px #eeeeee solid;
    margin-bottom: 13px;
    line-height: 35px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 11px;
}

b {
    font-weight: bold;
}

p {
    line-height: 23px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

pre {
    padding: 0px;
    margin: 0px;
}

img {
    border: 0;
}

    img.mid_align {
        vertical-align: middle;
        margin-right: 4px;
        border: 0;
    }

label {
    font-weight: bold;
    text-transform: capitalize;
}

    label.disabled {
        color: #aaa;
    }

.Clear {
    clear: both;
    height: 0px;
    margin: 0;
    padding: 0;
}

.labelname {
    border: solid 1px #C9C9C9;
    outline: 0;
    line-height: 28px;
    height: 28px;
    padding: 6px 20px 8px 20px;
    margin-left: 2px;
}

a {
    color: #1F92FF;
    text-decoration: none;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

    a:active {
        color: #000000;
        text-decoration: none;
        text-shadow: 0px 0px 0px transparent;
    }

    a:hover {
        color: #06F;
        text-decoration: none;
        text-shadow: none;
    }

    a.red {
        color: #F30;
        text-decoration: none;
        text-shadow: 0px 0px 0px transparent;
        cursor: pointer;
    }

        a.red:hover {
            color: #F00;
        }

span img {
    margin-bottom: -3px;
}

.center {
    text-align: center;
}



/* placeholder */
::-webkit-input-placeholder {
    color: #cccccc;
}

input:-moz-placeholder {
    color: #cccccc;
}

.placeholder {
    color: #cccccc;
}

ul.rowData li {
    float: left;
    margin-right: 2px;
}

    ul.rowData li.sep {
        line-height: 30px;
    }

    ul.rowData li > input {
        text-align: center;
    }


/*
------------------------------------------------------------
		  header
------------------------------------------------------------
*/

#header {
    width: 100%;
    height: 45px;
    background: #000000 url(/Themes/Zice/Graphics/top_bgrepeat.jpg) repeat-x;
    text-shadow: 1px 0 0 #666666;
    color: #ffffff;
    position: fixed;
    -moz-box-shadow: 0px 2px 15px #333333;
    -webkit-box-shadow: 0px 2px 15px #333333;
    box-shadow: 0px 2px 15px #333333;
    filter: progid: DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#999999');
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#aaaaaa')";
    min-width: 768px;
    z-index: 99999;
}

    #header a {
        font-weight: normal;
        color: #ffffff;
    }

        #header a:hover {
            color: #ebebeb;
        }

        #header a:active {
            color: #999999;
        }

    #header #account_info {
        margin: 0 35px 0 0;
        width: 100%;
        overflow: hidden;
    }

.CompanyBranding {
    float: left;
    height: 35px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.HeaderSectionDiv {
    border-left: 1px #333333 solid;
    padding: 0 20px 0 20px;
    background-image: url(/Themes/Zice/Graphics/accbg.png);
    height: 45px;
    background-repeat: no-repeat;
    float: right;
}

.LoginLink {
    background-position: center center;
    background-image: url('/Themes/Zice/Graphics/connect.png');
    background-repeat: no-repeat;
    padding: 16px;
}

    .LoginLink:hover {
        background-image: url('/Themes/Zice/Graphics/disconnect.png');
        background-repeat: no-repeat;
    }

#shadowhead {
    background-image: url(/Themes/Zice/Graphics/bg/pick_bg.jpg);
    height: 58px;
    background-repeat: repeat-x;
    position: absolute;
    top: 45px;
    width: 100%;
    z-index: -5;
}
/*
------------------------------------------------------------
		  Menu left
------------------------------------------------------------
*/
#left_menu {
    /*background-image: url(/Themes/Zice/Graphics/menu_bg.jpg);*/
    float: left;
    position: absolute;
    left: 0px;
    top: 45px;
    z-index: 48;
    padding-bottom: 100px;
}

.main_menu {
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    list-style: none;
    display: block;
}

    .main_menu li {
        width: 100%;
        border-bottom: 1px solid #212123;
        border-top: 1px solid #3f3f42;
        display: block;
        text-transform: capitalize;
        background-image: url(/Themes/Zice/Graphics/menu_bg.jpg);
    }

        .main_menu li.active {
            height: auto;
        }

        .main_menu li ul {
            margin-bottom: 10px;
            float: left;
            display: block;
            width: 250px;
            border: 1px #111111 solid;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-top: -52px;
            display: none;
            clear: both;
            background-position: right top;
            list-style: none;
            position: absolute;
            left: 200px;
            margin-left: 10px;
            -webkit-box-shadow: 2px 2px 3px 2px #333333;
            -moz-box-shadow: 2px 2px 3px 2px #333333;
            box-shadow: 2px 2px 3px 2px #333333;
            background-image: url(/Themes/Zice/Graphics/bg/214.png);
        }

            .main_menu li ul li {
                height: 45px;
                background-image: none;
                border-bottom: 1px #111111 solid;
                border-top: 1px #333333 solid;
                width: auto;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all.2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all.2s ease-out;
                padding-left: 0px;
                padding: 3px 0;
            }

        .main_menu li .arr {
            position: absolute;
            width: 6px;
            height: 100%;
            padding-left: 10px;
            left: -16px;
            top: 0;
            z-index: 100;
        }

            .main_menu li .arr span {
                position: absolute;
                background-image: url(/Themes/Zice/Graphics/arr3.png);
                width: 6px;
                height: 12px;
                top: 20px;
                display: block;
                left: 9px;
            }

        .main_menu li ul li:hover {
            border-bottom: 1px #111111 solid;
            border-top: 1px #333333 solid;
            background-image: none;
            -webkit-box-shadow: inset 0px 0px 20px 1px #000000;
            -moz-box-shadow: inset 0px 0px 20px 1px #000000;
            box-shadow: inset 0px 0px 20px 1px #000000;
            list-style: none;
            padding-left: 10px;
        }

        .main_menu li ul li:first-child {
            border-bottom: none;
            border-top: 1px #333333 solid;
            margin-bottom: 0px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .main_menu li ul li:last-child {
            border-bottom: none;
            border-top: 1px #333333 solid;
            margin-bottom: 0px;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .main_menu li ul li a {
            text-shadow: none;
            margin-left: 32px;
            color: #FFF;
            padding-top: 13px !important;
            padding-left: 0px !important;
        }

            .main_menu li ul li a img {
                margin-bottom: 2px;
                margin-right: 10px;
            }

            .main_menu li ul li a:hover {
                background-image: none;
                text-shadow: 0 1px 0 #000000;
                color: #FFF;
                border: none;
            }

        .main_menu li a img {
            margin-right: 15px;
            border: 0;
            margin-bottom: -3px;
        }

        .main_menu li.select {
            background-image: url(/Themes/Zice/Graphics/selectM.png);
            background-repeat: no-repeat;
            border-bottom: 1px #111111 solid;
            border-top: 1px #000000 solid;
        }

        .main_menu li a {
            display: block;
            padding: 17px 10px 17px 20px;
            color: #FFF;
            font-weight: bold;
            text-shadow: 0 2px 0 #000000;
            -webkit-transition: background-color .2s ease-out;
            -moz-transition: background-color .2s ease-out;
            -o-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
        }

            .main_menu li a:hover, .main_menu li:hover {
                color: #FFF;
                text-shadow: 0 2px 0 #000000;
                background-image: url(/Themes/Zice/Graphics/foot.png);
            }

        .main_menu li:hover {
            border-top: 1px #000000 solid;
        }

        .main_menu li.select a:hover {
            background-image: url(/Themes/Zice/Graphics/selectM.png);
        }

        .main_menu li.select ul li a:hover {
            background-image: none;
        }

.iconmenu {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 50px;
    top: 120px;
    position: absolute;
    z-index: 48;
    background-color: #1f1f1f;
    padding-bottom: 100px;
}

    .iconmenu li {
        width: 100%;
        display: block;
        border-bottom: 1px solid #171717;
        border-top: 1px solid #2a2a2a;
    }

        .iconmenu li.active {
            height: auto;
        }

        .iconmenu li ul {
            margin-bottom: 10px;
            float: left;
            display: block;
            width: 250px;
            border: 1px #111111 solid;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-top: -52px;
            display: none;
            clear: both;
            background-position: right top;
            list-style: none;
            position: absolute;
            left: 50px;
            margin-left: 10px;
            -webkit-box-shadow: 2px 2px 3px 2px #333333;
            -moz-box-shadow: 2px 2px 3px 2px #333333;
            box-shadow: 2px 2px 3px 2px #333333;
            background-image: url(/Themes/Zice/Graphics/bg/214.png);
        }

            .iconmenu li ul li {
                height: 45px;
                border-bottom: 1px #111111 solid;
                border-top: 1px #333333 solid;
                width: auto;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all.2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all.2s ease-out;
                padding-left: 0px;
                padding: 3px 0;
                text-transform: capitalize;
            }

        .iconmenu li .arr {
            position: absolute;
            width: 6px;
            height: 100%;
            padding-left: 10px;
            left: -16px;
            top: 0;
            z-index: 100;
        }

            .iconmenu li .arr span {
                position: absolute;
                background-image: url(/Themes/Zice/Graphics/arr3.png);
                width: 6px;
                height: 12px;
                top: 20px;
                display: block;
                left: 9px;
            }

        .iconmenu li ul li:hover {
            border-bottom: 1px #111111 solid;
            border-top: 1px #333333 solid;
            background-image: none;
            -webkit-box-shadow: inset 0px 0px 20px 1px #000000;
            -moz-box-shadow: inset 0px 0px 20px 1px #000000;
            box-shadow: inset 0px 0px 20px 1px #000000;
            list-style: none;
            padding-left: 10px;
        }

        .iconmenu li ul li:first-child {
            border-bottom: none;
            border-top: 1px #333333 solid;
            margin-bottom: 0px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .iconmenu li ul li:last-child {
            border-bottom: none;
            border-top: 1px #333333 solid;
            margin-bottom: 0px;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .iconmenu li ul li a {
            text-shadow: none;
            margin-left: 32px;
            color: #FFF;
            padding-top: 13px !important;
            padding-left: 0px !important;
        }

            .iconmenu li ul li a img {
                margin-bottom: 2px;
                margin-right: 10px;
            }

            .iconmenu li ul li a:hover {
                background-image: none;
                text-shadow: 0 1px 0 #000000;
                color: #FFF;
                border: none;
            }

        .iconmenu li a img {
            margin-right: 15px;
            border: 0;
            margin-bottom: -3px;
        }

        .iconmenu li.select {
            background-image: url(/Themes/Zice/Graphics/selectM.png);
            background-repeat: no-repeat;
            border-bottom: 1px #3d3d42 solid;
            border-top: 1px #232328 solid;
        }

        .iconmenu li a {
            display: block;
            padding: 15px;
            color: #FFF;
            font-weight: bold;
            text-shadow: 0 2px 0 #000000;
            -webkit-transition: background-color .2s ease-out;
            -moz-transition: background-color .2s ease-out;
            -o-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
            margin: 3px 0px;
        }

            .iconmenu li a:hover {
                color: #FFF;
                text-shadow: 0 2px 0 #000000;
                background-image: none;
            }

        .iconmenu li.select a:hover {
            background-repeat: no-repeat;
        }

        .iconmenu li.select ul li a:hover {
            background-image: none;
        }

.menubottom {
    width: 200px;
    height: 45px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-image: url(/Themes/Zice/Graphics/foot.png);
    display: none;
}

    .menubottom .inner {
        padding: 15px 5px;
    }

        .menubottom .inner ul {
            margin-left: 15px;
        }

            .menubottom .inner ul li {
                float: left;
                margin: 0 25px;
            }

                .menubottom .inner ul li:last-child img {
                    margin-top: -3px;
                }

/*
------------------------------------------------------------
	 Menu shortcut  ( 4 icon show ) in top page
------------------------------------------------------------
*/
#shortcut {
    list-style: none;
    display: block;
    margin-top: -35px;
    font-size: 11px;
    float: right;
    margin-bottom: 0px;
    padding-bottom: 21px;
}

    #shortcut li {
        display: block;
        float: left;
        margin: 0 0px 0px 20px;
        text-align: center;
    }

        #shortcut li a {
            display: block;
            width: 50px;
            padding: 10px 15px 10px 15px;
            color: #4c535b;
            text-shadow: 0 1px 0 #ffffff;
        }

            #shortcut li a img {
                margin-bottom: 0px;
            }

        #shortcut li .notification {
            color: #ffffff;
            font-weight: bold;
            text-shadow: 1px 0 0 #333333;
            background: transparent url('/Themes/Zice/Graphics/bg_notification.png') no-repeat center;
            width: 37px;
            height: 37px;
            text-align: center;
            line-height: 37px;
            position: absolute;
            margin-top: -75px;
            margin-left: 40px;
        }

#content {
    margin-left: 240px;
    padding: 0px 10px 0 0;
    min-width: 690px;
}

    #content .inner {
        width: 98%;
        padding-top: 100px;
    }



#buttom_top {
    height: 20px;
    width: 50%;
    text-align: right;
    float: right;
    min-width: 350px;
    padding: 7px 7px 0 0;
}

    #buttom_top img {
        margin-bottom: -3px;
        padding-right: 0px;
    }
/*
------------------------------------------------------------
	 two column
------------------------------------------------------------
*/
.column_left, .column_right {
    width: 49%;
    float: left;
    padding-left: 1%;
    margin-bottom: 0px;
}

.column_left {
    padding-right: 1%;
    padding-left: 0;
}

.noshadow {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}
/*
------------------------------------------------------------
	profile Setting
------------------------------------------------------------
*/


@media only screen and (max-width: 1024px) {
    .boxMove {
        margin-top: 0px;
    }
}


/*------------------------------------------------------------------------------------*/

.highlight {
    background-color: #9bc652;
    color: Black;
    -moz-border-radius: 2px; /* FF1+ */
    -webkit-border-radius: 2px; /* Saf3-4 */
    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding: 1px;
    margin: 0;
}

/*------------------------------------------------------------------------------------*/

.ProfileOptionsPanel {
    display: inline-block;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    background-image: url('/Themes/Zice/Graphics/bg/214.png');
    background-repeat: repeat;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .ProfileOptionsPanel a {
        display: block;
        margin-bottom: 5px;
        color: white;
        font-family: Verdana;
        font-size: 11px;
        font-weight: bold;
        line-height: 40px;
        height: 40px;
        padding: 0px 25px 0px 25px;
        text-align: center;
    }

        .ProfileOptionsPanel a:hover {
            color: red;
            background: black;
        }


/*------------------------------------------------------------------------------------*/

.ToggleRow {
    width: 100%;
    height: 30px;
}

.ToggleRowToggleButton {
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 20px;
}

    .ToggleRowToggleButton span a {
        background-position: center center;
        display: block;
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-image: url('/Themes/Zice/Graphics/icon/color_18/add.png');
        background-repeat: no-repeat;
    }

.ToggleRowTitle {
    height: 30px;
    font-family: Verdana;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    color: #357ae8;
    min-width: 200px;
    max-width: 400px;
    margin-right: 15px;
    float: left;
}

.ToggleRowCell {
    height: 30px;
    font-family: Verdana;
    font-size: 12px;
    line-height: 30px;
    font-weight: normal;
    color: #333333;
    min-width: 100px;
    max-width: 200px;
    padding-left: 15px;
    padding-right: 10px;
    float: left;
}

.ToggleRowToolButton {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    float: right;
}

    .ToggleRowToolButton span a {
        background-image: url('/Themes/Zice/Graphics/icon/color_18/checkmark.png');
        background-repeat: no-repeat;
        background-position: center center;
        height: 30px;
        width: 30px;
        display: block;
    }

/*------------------------------------------------------------------------------------*/

ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 1em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

    ol ol {
        margin: 0 0 0 2em;
    }

.rounded-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0 .5em 1.2em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

    .rounded-list a:hover {
        background: #eee;
    }

        .rounded-list a:hover:before {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }

    .rounded-list a:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        -moz-border-radius: 2em;
        -webkit-border-radius: 2em;
        border-radius: 2em;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

/* -------------------------------------- */

.rectangle-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

    .rectangle-list a small {
        font-size: 10px;
        color: #aaaaaa;
        padding-left: 5px;
        font-style: italic;
    }

    .rectangle-list a:hover {
        background: #eee;
    }

    .rectangle-list a:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -2.5em;
        top: 50%;
        margin-top: -1em;
        background: #fa8072;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
    }

    .rectangle-list a:after {
        position: absolute;
        content: '';
        border: .5em solid transparent;
        left: -1em;
        top: 50%;
        margin-top: -.5em;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .rectangle-list a:hover:after {
        left: -.5em;
        border-left-color: #fa8072;
    }

/*------------------------------------------------------------------------------------*/


.treeview {
    font-size: 12px;
}

.treeview {
}

.nodeStyle {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    display: block;
    line-height: 20px;
    font-family: Verdana;
    display: block;
}

    .nodeStyle a {
        padding: 0px 10px 0px 10px;
    }

        .nodeStyle a:hover {
            background: #C6C6F0;
            color: Black;
        }

.parentNodeStyle {
}

    .parentNodeStyle a {
    }

.selectedNodeStyle {
}

    .selectedNodeStyle a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        display: block;
        line-height: 20px;
        background: #0000CC;
        padding: 0px 10px 0px 10px;
    }

.hoverNodeStyle {
}

    .hoverNodeStyle a {
    }

.CockPitVersionInfo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
